In [2]:
x=[1,2]
y=[1,2]

In [3]:
x is y

False

In [4]:
x==y

True

# If loop

In [ ]:
#the number entered by usear is stored in the variable "number"
number = int(input("Enter any integer: "))
if number>5 or number<0:
    print("The number {} you input is beyound the range 0~7".format(number))
    number = int(input("Please input a number in the range 0~7"))
else:
    print ("You entered: " + str(number))

print ("Choose an option below then press enter:")

print ("1. Find square of the number")
print ("2. Find cube of the number")
print ("3. Find any other power of the number")
print ("4. Find the reciprocal of the number")

#the option entered by user is stored in the variable "option"
option = int(input("Enter option (1,2,3,4): "))

#use if-else statements and determine which code block to execute based on user's input
if option==1:
    print ("Square = "+str(number**2))
elif option==2:
    print ("Cube = "+str(number**3))
elif option==3:
    power = int(input("Enter the power: "))
    if power > 7:
        print ("power is to high...")
    else :
        print (str(number)+" to power "+str(power)+" is = "+str(number**power))
elif option==4:
    recip = int(input("Enter the reciprocal you want to find: "))
    if recip==0:
        print("Your input is 0 which is not valid.")
        recip = int(input("Please input a non zero number: "))
    else:
        print("the reciprocal {}/{} is {}".format(recip,number,recip/number))
else:
    print ("Not a valid option")

# For loop

In [ ]:
for i in range(0,10):
    print(i)

# While loop

In [ ]:
x=0
while(x<10):
    print(x)
    x=x+1

In [ ]:
mylist = list(range(1,8))
for i in mylist:
    if(i%2==0):
        continue
    if(i==7):
        break
    print(i)

In [ ]:
primes=[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71]

number = int(input("Enter any integer less than 20: "))
print ("You entered:" + str(number))

print ("Printing first " + str(number)+" primes using for loop")
#Note: the range(n,m) function generates a list of integers in range [n,m)
#e.g. range(0,5): [0, 1, 2, 3, 4]
#range(m) generates list of integers in range [0,m)
#e.g. range(5): [0, 1, 2, 3, 4]
for i in range(0,number): 
    print (primes[i])

print ("Printing first " + str(number)+" primes using while loop")
i=0
while i<number:
    print (primes[i])
    i=i+1

print ("Printing first " + str(number)+" primes using for loop with break")
i=0
for p in primes: 
    print (p)
    i=i+1
    if i == number:
        break

print ("Printing first " + str(number)+" primes using while loop with break")
i=0
while True:
    print (primes[i])
    i=i+1
    if i == number:
        break

#using continue is not efficient in this case as the loop continues to run, doing nothing, until it reaches end of the list
print ("Printing first " + str(number)+" primes using for loop with continue")
i=0
for p in primes:
    if i >= number:
        continue
    print (p)
    i=i+1
    
print ("Printing first " + str(number)+" primes using while loop with continue")
i=0
while i< len(primes):
    #Note: the statement i=i+1. We have to increment i with each iteration otherwise we will no reach the stopping criteria and loop will continue indefinitely !!!
    #If we choose to skip a code block we still must increment i by 1
    if i >= number:
        i=i+1
        continue
    print (primes[i])
    i=i+1

In [ ]:
#1. Given a number, find its factorial i.e. n*n-1*n-2*...*1. Hint: use loop.
number=int(input("Enter a positive number you want to find its factoral: "))
fact = 1
for i in range(1,number+1):
    fact=fact*i
print("The factorial of {} is {}".format(number,fact))

#Don't change this
#Thanks Yuan Wang, BCB for the dict code
geneticCode = {"UUU":"F", "UUC":"F", "UUA":"L", "UUG":"L",
              "UCU":"S", "UCC":"s", "UCA":"S", "UCG":"S",
              "UAU":"Y", "UAC":"Y", "UAG":"STOP",
              "UGU":"C", "UGC":"C", "UGA":"STOP","UAA":"STOP", "UGG":"W",
              "CUU":"L", "CUC":"L", "CUA":"L", "CUG":"L",
              "CCU":"P", "CCC":"P", "CCA":"P", "CCG":"P",
              "CAU":"H", "CAC":"H", "CAA":"Q", "CAG":"Q",
              "CGU":"R", "CGC":"R", "CGA":"R", "CGG":"R",
              "AUU":"I", "AUC":"I", "AUA":"I", "AUG":"M",
              "ACU":"T", "ACC":"T", "ACA":"T", "ACG":"T",
              "AAU":"N", "AAC":"N", "AAA":"K", "AAG":"K",
              "AGU":"S", "AGC":"S", "AGA":"R", "AGG":"R",
              "GUU":"V", "GUC":"V", "GUA":"V", "GUG":"V",
              "GCU":"A", "GCC":"A", "GCA":"A", "GCG":"A",
              "GAU":"D", "GAC":"D", "GAA":"E", "GAG":"E",
              "GGU":"G", "GGC":"G", "GGA":"G","GGG":"G" }

'''
Above "geneticCode" is a dict which maps an RNA codon to an amino acid letter. Same from excercise 2.
'''

dnaCodons=['ATG','TTT','TTG','CTC','ATT','ATG','GTA','TAC','TAG','CAT','CAC','CAA','AAC','AAG','GAT','TGC','TGA','TGG','CGA','AGC','AGG','GGG']

#2. dnaCodons is a list of valid codons. Using a for loop iterate over this list and print corresponding amino acid.
#Hint: The dict geneticCode is defined for RNA codons you will have to first convert the given DNA codons to RNA codons. To this replace all 'T' with 'U'.
#You may want to use str.replace() function

#3. If you did step 1 correctly you will notice two "STOP" in your amino acid sequence. Biologically, the "Stop" codons mark te end of a peptide.
#Use an if condition to skip printing of the "Stop" codon. Can you do the same using a continue statement?
#Hint: the codons that will result in a stop codon are "UAG","UGA" or "UAA".

'''
*Bonus Question
Open Reading Frame (ORF): An ORF is defined as the sequence which has the ability to be translated into a protein. An ORF start with a start codon i.e "ATG" and
ends with any of the stop codons i.e. "TAG" or "TGA". Where a codon is defined as sub-sequence of length 3 in a given sequence. To keep things simple we scan in
only one direction  and in only one frame (don't worry if you don't know these terms) to find the possible ORF. e.g. in the sequence AAATTTATGAGCTTTCATCATTAGGGTTTG
the ORF has the codons are ATG AGC TTT CAT CAT i.e. three letters taken at a time starting from the start codon till the stop codon is reached (not printed). 
'''
dnaSeq='AAATTTATGAGCTTTCATCATTAGGGTTTG'
#4. Given a DNA sequence can you find the ORF using the above defination.

# Function

In [11]:
def funcSum(a,b):
    return a+b
print(funcSum(5,2))

7

In [12]:
x = lambda a,b:a+b
x(5,6)

11

In [13]:
#####These are my function definitions#####

#this function takes no argument, returns None
def printWelcome():
    print ("Hi, Welcome!")
#this function takes no argument, returns a str object
def getName():
    name=input("Please Enter your name: ")
    return name
#this function takes a str object, returns None
def printMessage(name):
    print ("How are you, "+name)
#this function takes no argument, returns None
def printGoodbye():
    print ("Goodbye...")




#####Call the functions######
printWelcome()
user=getName()
printMessage(user)
printGoodbye()

##usage of lamda function
def mult(n):
    return lambda x: x*n

double=mult(2)
double(3)
triple=mult(4)
triple(4)

Hi, Welcome!

Please Enter your name:  minghui

How are you, minghui
Goodbye...

16

In [14]:
mult(4)(4)

16

In [19]:
def getAge():
    age=int(input("Input your age "))
    return age
age = getAge()
age

Input your age  15

15

In [33]:
#1. We know len() returns the length of a string. Define a function that takes a string as an argument
# and prints its squared length. E.g. if input to function is 'ABCD' return value should be 16.
# use def and lambda functions
def strLen(string):
    return len(string)*len(string)
length = lambda string:len(string)*len(string)

#2. Write another function that takes two strings as arguments and returns the sum of square of lengths of the two Strings.
# E.g. if in put to function is 'ABC' and 'DE' return value should be 9+4=13.
def strLen2(string1,string2):
    return len(string1)*len(string1)+len(string2)*len(string2)
length2 = lambda string1,string2:len(string1)*len(string1)+len(string2)*len(string2)

#3. Let me define a term "pythagorean string triplets" as set of three strings such that squared length of any one is
# equal to the sum of the squared lengths of other two. Given three strings check whether they form a pythagorean string triplet.
# Hint: You don't have to check each possible combination, just check if the largest string's squared length is equal to
# sum of squared lengths of the other two.
def pythagorean(str1,str2,str3):
    l1 = len(str1)
    l2 = len(str2)
    l3 = len(str3)
    lmax = max(l1,l2,l3)
    if lmax == l1:
        if l1*l1 == l2*l2+l3*l3:
            return "pythagorean string triplets"
    elif lmax == l2:
        if l2*l2 == l1*l1 + l3*l3:
            return "pythagorean string triplets"
    else:
        if l3*l3 == l1*l1 + l2*l2:
            return "pythagorean string triplets"
    return "not pythagorean string triplets"

In [26]:
print(strLen("good"))
print(length("bad"))
print(strLen2("good","bad"))
print(length2("good","good"))

16
9
25
32

In [35]:
pythagorean("good","bad","very")

'not pythagorean string triplets'

In [27]:
max(len("good"),len("bad"),len("nice"))

4

In [29]:
#read the file names.txt
#f is the file object
with open('./stories/woods.txt','r') as f:
    names= f.read().splitlines()    #read().splitlines removes any trainling \n or \r

print ("total names =",str(len(names)))

#How many names contain '3'
names_3=[]
for x in names:
    if '3' in x:
        #add the names to list names_3
        names_3.append(x)
print ("Names containing 3:",str(len(names_3)))

#write the names to file "names_with_3.txt"
#opens the file, f is the file object but for the new file "names_with_3.txt"
f=open('names_with_3.txt','w')
for x in names_3:
    #f.write writes to the file
    f.write(str(x)+"\n")
f.close()

total names = 21
Names containing 3: 0

# Pandas

In [37]:
import pandas as pd

In [39]:
ser1=pd.Series([1,2,3])

In [41]:
serA=pd.Series(['a','b','c'])

In [43]:
ser1A=pd.Series(['a','b','c',22.0])

In [50]:
ser2=pd.Series([1,2,3],index=['a','b','c'])

In [56]:
ser2['b']

2

In [55]:
ser2[['b','c']]

b    2
c    3
dtype: int64

In [57]:
l1=['a','b','c','d']
l2=[1,2,3,4]
df=pd.DataFrame(list(zip(l1,l2)))

In [58]:
df

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

In [61]:
df.columns=['c1','c2']

In [62]:
df['c1']

0    a
1    b
2    c
3    d
Name: c1, dtype: object

In [74]:
df=pd.read_csv("https://raw.githubusercontent.com/urmi-21/python3-dataScience18/master/data/iris.data.csv")

In [75]:
df.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [76]:
df.shape

(150, 5)

In [77]:
df.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [79]:
groupb=df.groupby('class')

In [81]:
groupb.groups

{'Iris-setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
            dtype='int64'),
 'Iris-versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
             67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
             84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 'Iris-virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
             126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
             139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64')}